#loadingBtn {
  display: none;
}
.btn-blue {
  background: rgb(41, 155, 136);
}
.text-blue {
  color: rgb(41, 126, 155);
  color: rgb(41, 155, 136);
}
.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
img {
  height: 500px !important;
}
